</div>
<div id="content">
	<div id="menucontent">
		<table class="centered">
			<tbody>
				<tr>
					<td class="three-piece"><a href="http://m.nus.edu.sg/iphone/NativeApps/index.html"><img src="../images/icons/Installer.png" alt="AppStoreHighlights"></a></td>
					<td class="three-piece"><a href="http://m.nus.edu.sg/iphone/Contacts/index.html"><img src="../images/icons/EmergencyContacts_red.png" alt="Useful Contacts"></a></td>
					<td class="three-piece"><a href="https://inetapps.nus.edu.sg/ws/nextsbus/webapp/ShuttleBusTiming/index.html"><img src="../images/icons/bus_arrival_orange.png" alt="Shuttle Bus Information"></a></td>
				</tr>
				<tr>
					<td class="whiteletters">App Store Highlights!</td>
					<td class="whiteletters">Useful Contacts</td>
					<td class="whiteletters">Shuttle Bus Information</td>
				</tr>
				<tr>
					<td class="three-piece"><a href="http://m.nus.edu.sg/iphone/AnnounceNEvents/index.html"><img src="../images/icons/announcements_orange.png" alt="Announcement & Events"></a></td>
					<td class="three-piece"><%= link_to image_tag("../images/icons/Mugs&Grubs.png"), "" %></a></td>
					<td class="three-piece"><a href="http://m.nus.edu.sg/iphone/iPhoneProfiles/index.html"><img src="../images/icons/Download.png" alt="iPhone Setup Profiles"></a></td>
				</tr>
				<tr>
					<td class="whiteletters">Announcement & Events </td>
					<td class="whiteletters">Mugs & Grubs</td>
					<td class="whiteletters">iPhone Setup Profiles</td>
				</tr>
				<tr>
					<td class="three-piece"><a href="http://m.nus.edu.sg/mweb/LibrarySubPortal/LibrarySubPortal.html"><img src="../images/icons/library_icon.png" alt="Library"></a></td>
					<td class="three-piece"><a href="http://m.nus.edu.sg/mweb/ROSubPortal/ROSubPortal.html"><img src="../images/icons/ro.png" alt="Registrar's Office"></a></td>
					<td class="three-piece"><a href="FAQ.html"><img src="../images/icons/faq.png" alt="FAQ on iPortal"></a></td>
				</tr>
				<tr>
					<td class="whiteletters">Library</td>
					<td class="whiteletters">Registrar's Office</td>
					<td class="whiteletters">FAQ on iPortal</td>
				</tr>
				<tr>
					<td class="three-piece"><a href="https://www.facebook.com/NationalUniversityofSingapore"><img src="../images/icons/facebook_icon.png" alt="NUS Facebook"></a></td>
					<td class="three-piece"><a href="https://twitter.com/#!/nusosa"><img src="../images/icons/twitter_icon.png" alt="Twitter"></a></td>
					<td class="three-piece"><a href="https://inetapps.nus.edu.sg/ws/staffcontacts/webapp/StaffDirectory/index.html"><img src="../images/icons/staff_directory.png" alt="Staff Directory"></a></td>
				</tr>
				<tr>
					<td class="whiteletters">Facebook</td>
					<td class="whiteletters">Twitter</td>
					<td class="whiteletters">Staff Directory</td>
				</tr>
				<tr>
					<td colspan="3"><!--<img src="./images/ntulogo_temp80.png" alt="logo" />--></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div id="footer">
	<p>
		<b>© 2011  National University of SIngapore</b>
	</p>
	<p>
		Note: If you use GPRS/3G or mobile data plan to access this site, mobile data charges by telcos may apply.
	</p>
</div>
